<div class="container-fluid forms">
    <div class="row">

        <div class="col-md-4"></div>
        <div class="col-md-4 d-flex justify-content-center">
            <img class="rounded-circle" src="assets/images/logo of jewellary.png" alt="" srcset="" height="100px" width="100px">
        </div>
        <div class="col-md-4"></div>
        
    </div>
    
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 formborder">

            <div class="row">
                <div class="d-flex justify-content-center">
                    <h3><font color="white">Login Here</font></h3>
                </div>
                <hr>
            </div>
            
            <form action="">
                <div class="form-group">
                    <label for="" class="form-label" ><font color="white">Name</font></label>
                    <input type="text" name="Username" [(ngModel)]="uname" class="form-control" required>
                </div>
                
                <!-- <div class="form-group">
                    <label for="" class="form-label"><font color="white">Email ID</font></label>
                    <input type="email" name="Emailid" [(ngModel)]="email" class="form-control" required>
                </div> -->
                <div class="form-group">
                    <label for="" class="form-label"><font color="white">Password</font></label>
                    <input type="text" name="Pwd" [(ngModel)]="pwd" class="form-control" required>
                </div>
                
                &nbsp;
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-danger" type="reset"><font color="white">Cancel</font></button>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <button class="btn btn-success" (click)="btnclicked()"><font color="white">Login</font></button>
                        </div>

                    </div>
                </div>
                &nbsp;
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>