

    .forms{
        background-image:url('https://images.pexels.com/photos/12427694/pexels-photo-12427694.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height:800px;
    }