<div class="row">
    <div class="col-md-12">
        <div class="carousel slide" id="myslide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/images/gold5.jpeg" alt="" class="img-fluid" width="100%">
                </div>
                <div class="carousel-item">
                    <img src="assets/images/silver2.jpeg" alt="" class="img-fluid" width="100%">
                </div>
                <div class="carousel-item">
                    <img src="assets/images/diamond10.jpeg" alt="" class="img-fluid" width="100%">
                </div>
                
            </div>
            <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#myslide">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#myslide">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>
</div>

<div>
    <h3 class="d-flex justify-content-center">Our Products</h3>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center animate__animated animate__backInLeft">
            <img src="assets/images/gold3.jpeg" alt="" height="300px" width="400px">
        </div>
        <div class="col-md-6 para animate__animated animate__backInRight">
            <div class="row">
                <br>
                Is your gold jewelry losing its luster or no longer complementing your style? Let our skilled artisans breathe new life into your gold pieces with exquisite craftsmanship. From delicate engravings to intricate filigree work, we reimagine your gold jewelry to reflect your evolving taste and personality.

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 para animate__animated animate__backInLeft">
            <br>
            Embrace the allure of silver with our silver transformation service. Whether it's a cherished family heirloom or a beloved gift, we elevate your silver jewelry to new heights of beauty and refinement. Our experts meticulously polish, repair, and redesign your silver pieces, ensuring they shine with renewed brilliance.
        </div>
        <div class="col-md-6 d-flex justify-content-center animate__animated animate__backInRight">
            <img src="assets/images/silver6.jpeg" alt="" height="300px" width="400px">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center animate__animated animate__backInLeft">
            <img src="assets/images/diamond3.jpeg" alt="" height="300px" width="400px">
        </div>
        <div class="col-md-6 para animate__animated animate__backInRight">
            <br>
            Diamonds are forever, but that doesn't mean your diamond jewelry can't undergo a stunning revival. Trust our master jewelers to enhance the sparkle and allure of your diamonds through expert cleaning, setting adjustments, and custom redesigns. Whether it's a vintage ring or a modern pendant, we breathe new life into your diamond jewelry, making it shine brighter than ever before.
        </div>
    </div>
</div>